

:root{
    --thistle: #e3c0d3ff;
--mountbatten-pink: #95818dff;
--black-coral: #576066ff;
--dark-slate-gray: #2c514cff;
--gunmetal: #122932ff;
--textColor:rgba(250,250,250,1);
}

* { margin: 0; padding: 0; border: none; }

html {
    all:unset;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
*{
    color:var(--textColor);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
}



body{
    background-color: var(--gunmetal);
    overflow-x: hidden;
}

input{
    color: black;
}
input:required{
    border: 1px solid red;
}
input[type=file]{
    color: white;
}

input[type=submit]{
    background-color: lightgreen;
    padding: 4px;
}
input[type=submit]:hover{
  border-bottom: 1px solid white;
}


textarea{
    color: black;
}



.Header{
    margin: 0;
    width: 100%;
    height: 10%;
    background-color:var(--gunmetal);
}


.navbar{
    display: flex;

    align-items: flex-start;
    padding: 10px;
    justify-content: space-between;
    border-bottom:2px solid var(--dark-slate-gray);
    border-radius: 0px 0px 4px 4px;
    overflow: hidden;
    z-index: 999;
  
}

.nbig{
    height:150px;
}
.navbar h1{
    margin-left: 20px;
}
.navbar *{
   
    margin-left: 20px;
    margin-right: 20px;
    z-index: 999;
}
.linkWraper{
    display: flex;
    align-items: center; 
    justify-content: center;
}
.linkBg{
    padding: 4px;
    background-color: var(--mountbatten-pink);
}
.linkBg:hover{
    background-color:var(--thistle);
}


.mainContent{
    position: relative;
    display:flex;
    flex-direction: row;
}
footer{
    position: relative;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    padding: 2px;
    background-color: var(--black-coral);
    width: 100%;
    height: 30px;
    overflow: hidden;
    flex-wrap: nowrap;
    text-overflow: clip;
    overflow-wrap: unset;
    white-space: nowrap;
 
}
.footerLinks a{
    word-wrap: none;
    margin: 50px;
}
.overflowMenu{
    position: absolute;
    display:none;
    background-color: var(--dark-slate-gray);
    right: 0px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
    bottom: 0px;
}
#myCanvas{
    position: absolute;
    left: 0px;
    top:0;
    z-index: 0;
    pointer-events: none;
}

@media only screen and (max-width: 600px) {

    .overflowMenu{
        display: inline;
        margin: 0px;
    }

}