<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/css/style.css">  
  <link rel="stylesheet" href="/css/PostWallstyle.css">  
  <link rel="stylesheet" href="/css/SinglePost.css">  
  <link rel="stylesheet" href="/css/BlogPill.css">  
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/scripts/mainScript.js" ></script>
  <script src="/scripts/AnimateCanvas.js" type="module"></script>
  
    <title>Document</title>
</head>     

<body>
<div id="Header" class="Header">
<canvas id="myCanvas"></canvas>
  <div class="navbar nbig">
 
  <h1></h1>
  <div class="linkWraper">
    
    <div class="linkBg">
    <a href="/">Home</a>  
    </div>
    <div class="linkBg">
    <a href="#">Blog</a>
      </div>
      <div class="linkBg">
      <a href="#">Contact</a>      
      </div>
    
  </div>
  
  </div>
 
    </div>
    <div class="mainContent">

        %%DATA%%

    </div>

</body>
<footer>

  <div class="footerLinks">
  <a href="#">About</a>   
  <a href="#">Privacy</a>
  <a href="#">Support</a>
  <a href="#">Other Stuff</a>    
  </div>
  <div class="overflowMenu">
    <h2>...</h2>
  </div>
</footer>
  </body>
</html>      
</html>